<ion-view title="Opret">
    
    <ion-content class="has-header">
        <form novalidate name="myform" ng-submit="submit(myform)">
            <div class="list">

                <div ng-repeat="key in order" ng-init="value=schema[key]">

                    <label class="item item-input item-stacked-label" ng-if="value.type==='text'" ng-class="{'item-assertive': myform[key].$error.required && validate}">
                        <span class="input-label"><i class="fa fa-asterisk" ng-if="value.required"></i>{{value.label}}</span>
                        <input name={{key}} id="{{key}}" ng-model="doc.properties[key]" type="text" ng-required="value.required" placeholder={{value.placeholder}} ng-disabled="value.disabled">
                    </label>
                    <label class="item item-input item-stacked-label" ng-if="value.type==='textarea'" ng-class="{'item-assertive': myform[key].$error.required && validate}">
                        <span class="input-label"><i class="fa fa-asterisk" ng-if="value.required"></i>{{value.label}}</span>
                        <textarea name={{key}} id="{{key}}" ng-model="doc.properties[key]" ng-required="value.required" placeholder={{value.placeholder}} rows="10"></textarea>
                    </label>
                    <div class="item item-checkbox" ng-class="{'item-assertive': myform[key].$error.required && validate}" ng-if="value.type==='checkbox'">
                        <label class="checkbox">
                            <input type="checkbox" name="{{key}}" ng-model="doc.properties[key]" ng-required="value.required">
                        </label>
                        <i class="fa fa-asterisk" ng-if="value.required"></i> {{value.label}}
                    </div>
                    <div ng-if="value.type==='radio'">
                        <div class="item item-divider">
                            {{value.label}}
                        </div>
                        <label class="item item-radio" ng-class="{'item-assertive': myform[key].$error.required && validate}" ng-repeat="option in value.options">
                            <input type="radio" name="{{key}}" value="{{option.value}}" ng-required="value.required" ng-model="doc.properties[key]">
                            <div class="item-content">
                                {{option.label}}
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </label>
                    </div>
                    <div ng-if="value.type==='checkboxgroup'">
                        <div class="item item-divider">
                            {{value.label}}
                        </div>
                        <div class="item item-checkbox" ng-class="{'item-assertive': myform[key].$error.required && validate}" ng-repeat="(key,option) in value.group">
                            <label class="checkbox">
                                <input type="checkbox" name="{{key}}" ng-model="doc.properties[key]" ng-required="value.required">
                            </label>
                            <i class="fa fa-asterisk" ng-if="value.required"></i> {{option.label}}
                        </div>
                    </div>
                    <label class="item item-input item-select" ng-class="{'item-assertive': myform[key].$error.required && validate}" ng-if="value.type==='select'">
                        <div class="input-label">
                            {{value.label}}
                        </div>
                        <select name="{{key}}" id="{{key}}" ng-model="doc.properties[key]" ng-options="s.value as s.label for s in value.options" ng-required="value.required" ng-change="value.update()">
                            <option value="" selected>-- Vælg --</option>
                        </select>
                    </label>
                    <label class="item item-input item-select" ng-class="{'item-assertive': myform[key].$error.required && validate}" ng-if="value.type==='cascading'">
                        <div class="input-label">
                            {{value.label}}
                        </div>
                        <select class="form-control" name="{{key}}" id="{{key}}" ng-model="doc.properties[key]" ng-options="s.value as s.label for s in value.options[doc.properties[value.parent]]" ng-required="value.required" ng-disabled="value.disabled">
                            <!--option value="" selected>-- Vælg --</option-->
                        </select>
                    </label>
                    <div class="item item-divider" ng-if="value.type==='ruler'">
                        {{value.label}}
                    </div>
                    <label class="item item-input item-stacked-label" ng-class="{'item-assertive': myform[key].$error.required && validate}" ng-if="value.type==='datetime'">
                        <span class="input-label"><i class="fa fa-asterisk" ng-if="value.required"></i>{{value.label}}</span>
                        <input name={{key}} id="{{key}}" ng-model="doc.properties[key]" type="datetime-local" ng-required="value.required" placeholder={{value.placeholder}}>
                    </label>
                    <label class="item item-input item-stacked-label" ng-class="{'item-assertive': myform[key].$error.required && validate}" ng-if="value.type==='url'">
                        <span class="input-label"><i class="fa fa-asterisk" ng-if="value.required"></i>{{value.label}}</span>
                        <input name={{key}} id="{{key}}" ng-model="doc.properties[key]" type="url" ng-required="value.required" placeholder={{value.placeholder}}>
                    </label>
                    <label class="item item-input item-stacked-label" ng-class="{'item-assertive': myform[key].$error.required && validate}" ng-if="value.type==='email'">
                        <span class="input-label"><i class="fa fa-asterisk" ng-if="value.required"></i>{{value.label}}</span>
                        <input name={{key}} id="{{key}}" ng-model="doc.properties[key]" type="email" ng-required="value.required" placeholder={{value.placeholder}}>
                    </label>
                    <label class="item item-input item-stacked-label" ng-class="{'item-assertive': myform[key].$error.required && validate}" ng-if="value.type==='tel'">
                        <span class="input-label"><i class="fa fa-asterisk" ng-if="value.required"></i>{{value.label}}</span>
                        <input name={{key}} id="{{key}}" ng-model="doc.properties[key]" type="tel" ng-required="value.required" placeholder={{value.placeholder}}>
                    </label>
                    <input type="hidden" name={{key}} id="{{key}}" ng-model="doc.geometry.type" ng-required="value.required" ng-if="value.type==='geometry'">
                </div>

                <li class="item item-assertive" ng-show="myform.$error.required && validate">
                    Udfylde de røde felter
                </li>
            </div>
            <button type="submit" class="button button-full button-positive">
                Opret
            </button>

        </form>
    </ion-content>
</ion-view>
