<ion-view title="Rediger">
    <ion-nav-buttons side="right">
        <button class="button button-clear" type="button" ng-click="save()">OK</button>
    </ion-nav-buttons>
    <ion-content class="has-header">

        <form novalidate name="myform" ng-submit="submit(myform)">
            <div class="list">

                <div ng-repeat="field in form" ng-init="schema=schemaDefinition.schema.properties.properties.properties[field.id];key=field.id;required=schemaDefinition.properties.properties.required.indexOf(field.id)!==-1">
                    
                    <label class="item item-input item-stacked-label" ng-if="field.type==='text'" ng-class="{'item-assertive': myform[key].$error.required && validate}">
                        <span class="input-label"><i class="fa fa-asterisk" ng-if="required"></i>{{schema.titel}}</span>
                        <input name={{key}} id="{{key}}" ng-model="doc.properties[key]" type="text" ng-required="required" placeholder={{value.placeholder}} ng-disabled="value.disabled">
                    </label>
                    <label class="item item-input item-stacked-label" ng-if="field.type==='textarea'" ng-class="{'item-assertive': myform[key].$error.required && validate}">
                        <span class="input-label"><i class="fa fa-asterisk" ng-if="required"></i>{{schema.title}}</span>
                        <textarea name={{key}} id="{{key}}" ng-model="doc.properties[key]" ng-required="required" placeholder={{field.placeholder}} ></textarea>
                    </label>
                    <div class="item item-checkbox" ng-if="field.type==='checkbox'">
                        <label class="checkbox">
                            <input type="checkbox" name="{{key}}" ng-model="doc.properties[key]" ng-required="value.required">
                        </label>
                        <i class="fa fa-asterisk" ng-if="value.required"></i> {{value.label}}
                    </div>
                    <div ng-if="field.type==='radio'">
                        <div class="item item-divider">
                            {{schema.title}}
                        </div>
                        <label class="item item-radio" ng-repeat="option in schema.enum">
                            <input type="radio" name="{{key}}" value="{{option}}" ng-required="required" ng-model="doc.properties[key]">
                            <div class="item-content">
                                {{option}}
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </label>
                    </div>
                    <div ng-if="field.type==='checkboxgroup'">
                        <div class="item item-divider">
                            {{value.label}}
                        </div>
                        <div class="item item-checkbox" ng-repeat="(key,option) in value.group">
                            <label class="checkbox">
                                <input type="checkbox" name="{{key}}" ng-model="doc.properties[key]" ng-required="value.required">
                            </label>
                            <i class="fa fa-asterisk" ng-if="value.required"></i> {{option.label}}
                        </div>
                    </div>
                    <label class="item item-input item-select" ng-if="field.type==='select'">
                        <div class="input-label">
                            {{value.label}}
                        </div>
                        <select name="{{key}}" id="{{key}}" ng-model="doc.properties[key]" ng-options="s.value as s.label for s in value.options" ng-required="value.required" ng-change="value.update()">
                            <option value="" selected>-- Vælg --</option>
                        </select>
                    </label>
                    <label class="item item-input item-select" ng-if="field.type==='cascading'">
                        <div class="input-label">
                            {{value.label}}
                        </div>
                        <select class="form-control" name="{{key}}" id="{{key}}" ng-model="doc.properties[key]" ng-options="s.value as s.label for s in value.options[doc.properties[value.parent]]" ng-required="value.required" ng-disabled="value.disabled">
                            <!--option value="" selected>-- Vælg --</option-->
                        </select>
                    </label>
                    <div class="item item-divider" ng-if="field.type==='ruler'">
                        {{value.label}}
                    </div>
                    <label class="item item-input item-stacked-label" ng-if="value.type==='datetime'">
                        <span class="input-label"><i class="fa fa-asterisk" ng-if="value.required"></i>{{value.label}}</span>
                        <input name={{key}} id="{{key}}" ng-model="doc.properties[key]" type="datetime-local" ng-required="value.required" placeholder={{value.placeholder}}>
                    </label>
                    <label class="item item-input item-stacked-label" ng-if="field.type==='url'">
                        <span class="input-label"><i class="fa fa-asterisk" ng-if="value.required"></i>{{value.label}}</span>
                        <input name={{key}} id="{{key}}" ng-model="doc.properties[key]" type="url" ng-required="value.required" placeholder={{value.placeholder}}>
                    </label>
                    <label class="item item-input item-stacked-label" ng-if="field.type==='email'">
                        <span class="input-label"><i class="fa fa-asterisk" ng-if="value.required"></i>{{value.label}}</span>
                        <input name={{key}} id="{{key}}" ng-model="doc.properties[key]" type="email" ng-required="value.required" placeholder={{value.placeholder}}>
                    </label>
                    <label class="item item-input item-stacked-label" ng-if="field.type==='tel'">
                        <span class="input-label"><i class="fa fa-asterisk" ng-if="value.required"></i>{{value.label}}</span>
                        <input name={{key}} id="{{key}}" ng-model="doc.properties[key]" type="tel" ng-required="value.required" placeholder={{value.placeholder}}>
                    </label>
                    <input type="hidden" name={{key}} id="{{key}}" ng-model="doc.geometry.type" ng-required="value.required" ng-if="field.type==='geometry'">
                </div>

                <li class="item item-assertive" ng-show="myform.$error.required && validate">
                    Udfylde de røde felter
                </li>
            </div>
        </form>
    </ion-content>
</ion-view>
