<ion-view title="Indberetninger">
    <div>
        <ion-content class="has-header dark-bg">
            <ion-list>
                <ion-item class="item-dark item-icon-right" ng-repeat="(key,value) in layer._layers" ui-sref="map.indberetning({configuration:configurationid,organization:organizationid,indberetning:value.feature._id})" ui-sref-active="active">
                    <div ng-repeat="field in configuration.list">
                        {{field|objectpath:value.feature}}
                    </div-->
                    <i class="icon ion-ios7-arrow-right"></i>
                </ion-item>
            </ion-list>
        </ion-content>
    </div>
</ion-view>