<ion-view title="{{category.name}}">
    
    <div>
        <ion-nav-buttons side="right">
            <button class="button button-icon icon ion-ios7-trash" ng-click="delete()"></button>
        </ion-nav-buttons>
        <ion-content class="has-header" style="background-color:#eee">
            
                <div class="list">
                    <!--formular formular="configuration.form" schema="schema" doc="doc" valid="valid" disabled="disabled" id="layer._layers[list[indberetning]].feature._id"></formular-->
                    <formular formular="configuration.form" schema="schema" doc="layer._layers[list[indberetning]].feature" valid="valid" disabled="disabled" id="layer._layers[list[indberetning]].feature._id"></formular>
                </div>
            
        </ion-content>
    </div>
</ion-view>