<ion-view title="Velkommen" hide-nav-bar="true">
    <ion-content>
        <div class="kort intro">
            <div class="intro-text">
                <h1>Rapport Fra Stedet</h1>
                <h2>- et tværkommunalt samarbejde</h2>
                </p>
                <p>Har du set noget som ikke er i orden?</p>
                <p>Rapporter her, så hjælper du med at holde kommunen kørende.</p>
                <p>Du skal først vælge den kommune hvor du vil foretage en indberetning.</p>
                <p ng-show="!ok">Loading...<i class="icon ion-looping" style="font-size:50px"></i>
                </p>
                <!--p ng-show="ok"><a ui-sref="organizations" class="button button-positive icon-right ion-chevron-right">
  Næste
</a>
                </p-->
            </div>
        </div>
        <!--ion-slide-box class="intro" does-continue="true" show-pager="true" auto-play="true" pager-click="slide(index)">
            <ion-slide class="forside">
                <div class="intro-text">
                    <h1>Rapport Fra Stedet</h1>
                    <p>Har du set noget som ikke er i orden?</p>
                    <p>Rapporter her, så hjælper du med at holde kommunen kørende.</p>
                </div>
            </ion-slide>
            <ion-slide class="kommuner">
                <div class="intro-text">
                    <h1>1. Vælg kommune</h1>
                    <p>Vælg først den kommune som du vil foretage en indberetning i.</p>
                </div>
            </ion-slide>
            <ion-slide class="indberetninger">
                <div class="intro-text">
                    <h1>2. Vælg Indberetning</h1>
                    <p>Vælg dernæst den indberetningstype som du vil foretage.</p>
                </div>
            </ion-slide>
            <ion-slide class="kort">
                <div class="intro-text">
                    <h1>3. Angiv placering</h1>
                    <p>Angiv den geografiske placering af indberetningen på et kort.</p>
                </div>
            </ion-slide>
            <ion-slide class="indberetning">
                <div class="intro-text">
                    <h1>4. Udfyld formular</h1>
                    <p>Udfyld til sidst formularen med dine iagtagelser.</p>
                    <p>Ved nogle indberetningstyper kan der også vedhæftes foto.</p>
                </div>
            </ion-slide>
        </ion-slide-box-->
    </ion-content>
    <div class="bar bar-footer bar-balanced">

        <div class="title"><strong><a ui-sref="organizations" style="text-decoration:none">Start nu</a></strong>
        </div>
    </div>
    <a ui-sref="organizations" class="bp"><i class="icon ion-chevron-right"></i></a>
</ion-view>