<ion-view title="Menu" hide-back-button="true">
    <ion-content class="has-header dark-bg">
        <ion-list>
            <div ng-repeat="item in configuration.widgets">
                <ion-item class="item-dark item-icon-left" ng-click="login()" ng-if="item.id==='login'">
                    <i class="icon ion-log-in"></i> {{item.name}}
                </ion-item>
                <ion-item class="item-dark item-icon-left" ng-click="showSearch()" ng-if="item.id==='adressesøgning'">
                    <i class="icon ion-ios7-search-strong"></i> {{item.name}}
                </ion-item>
                <ion-item class="item-dark item-icon-left" ui-sref="map.layers" ng-if="item.id==='kortkontrol'">
                    <i class="icon ion-map"></i> {{item.name}}
                </ion-item>
                <ion-item class="item-dark item-icon-left" ui-sref="map.offlinemaps({id:configuration._id})" ng-if="item.id==='offlinemap'">
                    <i class="icon ion-flash-off"></i> {{item.name}}
                </ion-item>
                <search-list widget="item" map="map" baselayer="baselayer" ng-if="item.id==='indberetninger'" ng-show="item.visible" login="user" , widgets="widgets" overlays="overlays"></search-list>
                <ion-item class="item-dark item-icon-left" ng-click="showOpgaver()" ng-if="item.id==='opgaver'">
                    <i class="icon ion-flag"></i> {{item.name}}
                </ion-item>
                <!--ion-item class="item-dark item-icon-left" ng-click="locate()" ng-if="item.id==='position'">
                    <i class="icon ion-navigate"></i>
                    {{item.name}}
                </ion-item-->
                <div class="item item-toggle item-dark item-icon-left" ng-if="item.id==='tracking'">
                    <i class="icon ion-android-locate"></i> {{item.name}}
                    <label class="toggle toggle-balanced">
                        <input type="checkbox" ng-model="item.checked">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </div>
                <div class="item item-toggle item-dark item-icon-left" ng-if="item.id==='position'">
                    <i class="icon ion-navigate"></i> {{item.name}}
                    <label class="toggle toggle-balanced">
                        <input type="checkbox" ng-model="item.show" ng-change="showPosition()">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>