<ion-modal-view class="transparent">
    <ion-header-bar class="bar bar-header bar-dark">
        <!--button class="button button-icon icon ion-edit" ng-click="close()"></button-->
        <!--h1 class="title">{{schema.properties.geometry.title || 'Placer indberetning'}}</h1-->
        <button class="button button-clear" ng-click="modal.remove()">Luk</button>
    </ion-header-bar>
    <ion-content class="padding">
        <div ng-bind-html="widgets.indberetninger.receipt" style="margin-bottom:30px"></div>
        <button class="button button-block button-balanced" ng-click="back()">Tilbage til menu</button>
        <button class="button button-block button-balanced" ng-click="edit()">Ny indberetning</button>
    </ion-content>
</ion-modal-view>