<ion-modal-view class="transparent">
    <div class="bar bar-header bar-dark">
        <button class="button button-clear" ng-click="modal.remove()">Fortryd</button>
        <h2 class="title">Vælg type</h2>
    </div>
    <ion-content class="has-header">
        <ion-list>
            <ion-item class="item-icon-right" ng-repeat="layer in widget.layers|filter:filteroverlay" ng-click="selectType(layer)">
                {{overlays[layer].name}}
                <i class="icon ion-ios7-arrow-right"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-modal-view>