<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-dark">
        <h1 class="title">Login</h1>
        <button class="button button-clear" ng-click="modalLogin.remove()">Fortryd</button>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Brugernavn</span>
                <input type="email" ng-model="name">
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password" ng-model="password">
            </label>
        </div>
        <div class="padding">
            <button class="button button-block button-positive" ng-click="doLogin(name,password)">Login</button>
        </div>
        <div class="padding assertive" ng-show="loginError">
            {{loginError}}
        </div>
    </ion-content>
</ion-modal-view>