<ion-modal-view class="transparent">
    <ion-header-bar class="bar bar-header bar-dark">
        <!--button class="button button-icon icon ion-edit" ng-click="close()"></button-->
        <h1 class="title">{{schema.properties.geometry.title || 'Placer indberetning'}}</h1>
        <button class="button button-clear" ng-click="modal.remove()">Luk</button>
    </ion-header-bar>
    <ion-content class="padding">
        <div ng-bind-html="widgets.indberetninger.description" style="margin-bottom:30px"></div>
        <!--div ng-show="geometries.length>1"-->
        <div ng-repeat="g in geometries">
            <button class="button button-block button-balanced" ng-if="g.type==='Point'" ng-click="draw('GPS')" >Brug GPS-position</button>
            <button class="button button-block button-balanced" ng-click="draw(g.type)" >Placer {{(g.type==='Point')?'punkt':(g.type==='LineString')?'linje':(g.type==='Polygon')?'polygon':'Andet'}}</button>
        </div>
        
        <!--/div>
        <button class="button button-block button-positive" ng-click="draw('Point')" ng-show="geometries.length===1">OK</button-->
    </ion-content>
</ion-modal-view>