<ion-view title="{{widgets['offlinemap'].name}}">
    <div class="bar bar-balanced bar-subheader">
        <h2 class="title">Download kort</h2>
    </div>
    <ion-content class="has-header has-subheader">
        <div class="list">

            <div class="item item-toggle offlinemap" ng-if="baselayer.type==='mbtiles'" ng-repeat="baselayer in configuration.map.baselayers">
                {{baselayer.name}}
                <label class="toggle toggle-balanced">
                    <input type="checkbox" ng-model="baselayer.downloaded" ng-change="downloadMBTiles(baselayer)">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
                <div class="offline-content">{{baselayer.size | bytes}}</div>
                <div class="progress" ng-if="baselayer.progress">
                    <div class="progress-bar progress-bar-striped active" ng-style="{width: baselayer.progress+'%'}">
                        <span class="sr-only">{{baselayer.progress}} %</span>
                    </div>

                </div>

            </div>
        </div>
    </ion-content>
    < </ion-view>