<ion-view title="Vælg kommune">
    <ion-content class="has-header scroll-bg">

        <ion-list>
            <!--ng-class-even="'item-calm'" ng-class-odd="'item-positive'" -->
            <div ng-repeat="row in organizations | orderBy:'name'">
                <ion-item class="item-icon-right item-avatar" ui-sref="organization({organization:row._id})" ng-if="!row.hidden">
                    <img ng-src="{{row.logo}}"> {{row.name}}
                    <i class="icon ion-ios7-arrow-right"></i>
                </ion-item>
            </div>
        </ion-list>
    </ion-content>
</ion-view>