<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>


    <link href="lib/leaflet/dist/leaflet.css" rel="stylesheet">
    <link href="lib/leaflet.markercluster/dist/MarkerCluster.css" rel="stylesheet">
    <link href="lib/leaflet.markercluster/dist/MarkerCluster.Default.css" rel="stylesheet">

    <link href="lib/leaflet-usermarker/src/leaflet.usermarker.css" rel="stylesheet">

    <!-- compiled css output -->
    <link href="css/ionic.app.min.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular-i18n/angular-locale_da-dk.js"></script>
    <script src="lib/angular-animate/angular-animate.min.js"></script>
    <script src="lib/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="lib/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="lib/ionic/js/ionic-angular.js"></script>
    <script src="lib/ionic/js/ionic.min.js"></script>
    <script src="lib/ngCordova/dist/ng-cordova.min.js"></script>
    <script src="lib/proj4/dist/proj4.js"></script>
    <script src="lib/angular-utf8-base64/angular-utf8-base64.min.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <!-- build:remove -->
    <script src="cordova.js"></script>
    <!-- /build -->

    <!-- your app's js -->
    <!--
    <script src="lib/leaflet/dist/leaflet.js"></script>
    <script src="js/leaflet-src.js"></script>    
    -->
    <script>
        L_PREFER_CANVAS = true;
    </script>
    <script src="lib/leaflet/dist/leaflet.js"></script>
    <script src="lib/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
    <script src="lib/Leaflet.functionaltilelayer/src/leaflet.functionaltilelayer.js"></script>
    <script src="lib/leaflet-draw/src/dom/Draw.Touch.js"></script>
    <script src="lib/leaflet-draw/src/draw/handler/Draw.Feature.js"></script>
    <script src="lib/leaflet-draw/src/draw/handler/Draw.Polyline.js"></script>
    <script src="lib/leaflet-draw/src/draw/handler/Draw.PolylineTouch.js"></script>
    <script src="lib/leaflet-draw/src/draw/handler/Draw.Polygon.js"></script>
    <script src="lib/leaflet-draw/src/draw/handler/Draw.PolygonTouch.js"></script>
    <script src="lib/leaflet-usermarker/src/leaflet.usermarker.js"></script>
    <script src="lib/proj4leaflet/src/proj4leaflet.js"></script>
    <script src="js/pouchdb.js"></script>
    <script src="lib/pouchdb/dist/pouchdb.memory.min.js"></script>
    <!--
  <script src="js/pouchdb.js"></script>



-->
    <script src="lib/pouchdb-quick-search/dist/pouchdb.quick-search.min.js"></script>
    <script src="lib/tv4/tv4.js"></script>
    <script src="js/tv4-da.js"></script>
    <script src="lib/turf/turf.min.js"></script>
    <!--script src="js/pouchdb.min.js"></script-->
    <!--script src="js/pouchdb-3.0.6.min.js"></script-->
    <script src="js/app.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/services.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/controllers.js"></script>
    <script>
        function handleOpenURL(url) {
            setTimeout(function () {
                //var newurl = "http://localhost:4000/couchdb/app-3495ccf8aafcb1541a0ef7cc2d01178e/_design/app/v1/" + cordova.platformId + "/index.html#/" + url.substring(6);
                var newurl = "http://data.kosgis.dk/couchdb/app-d2121ee08caf832b73a160f9ea022ad9/_design/app2/" + cordova.platformId + "/index.html#/" + url.substring(6);
                console.log("received url: " + url);
                console.log("new url: " + newurl);
                location.href = newurl;
            }, 0);
        }
        window.addEventListener('load', function (e) {
            window.applicationCache.addEventListener('updateready', function (e) {
                if (window.applicationCache.status == window.applicationCache.UPDATEREADY) {
                    // Browser downloaded a new app cache.
                    // Swap it in and reload the page to get the new hotness.
                    window.applicationCache.swapCache();
                    //if (confirm('Der er ny version tilgængelig, vil du opdatere?')) {
                    //window.location.href = "http://data.kosgis.dk/couchdb/app-d2121ee08caf832b73a160f9ea022ad9/_design/app2/" + cordova.platformId + "/index.html";
                    window.location.reload();
                    //}
                } else {
                    // Manifest didn't changed. Nothing new to server.
                }
            }, false);
        }, false);
    </script>
</head>

<body ng-app="starter">



    <ion-nav-bar class="bar-dark" animation="nav-title-slide-ios7">
        <!--ion-nav-buttons side="right">
            <button class="button button-icon" ng-class="{'ion-looping':!AuthSession, 'ion-loop':AuthSession}" ng-click="login()"></button>
            <button class="button button-icon icon" ng-class="{'ion-log-in':!AuthSession, 'ion-log-out':AuthSession}" ng-click="login()"></button>
        </ion-nav-buttons-->
        <button class="button button-icon icon  pull-right" ng-class="{'ion-log-in':!user.name, 'ion-log-out':user.name}" ng-click="showlogin()"></button>
        <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view></ion-nav-view>
</body>

</html>